<span class="icon icon-cart"></span>
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
<span id="cart-number" class="cart-link__bubble{% if cart.item_count > 0 %} cart-count-bubble cart-link__bubble--visible{% endif %}"></span>
