.header__icon--menu {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  left: -25px;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}

menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}

.menu-drawer {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: var(--announcement-bar-height);
  bottom: 0;
  padding: 26px 15px 15px;
  z-index: 10;
  color: #222;
  background-color: #ecf3f8;
  -webkit-transition: all .35s cubic-bezier(.46,.01,.32,1);
  -moz-transition: all .35s cubic-bezier(.46,.01,.32,1);
  -ms-transition: all .35s cubic-bezier(.46,.01,.32,1);
  -o-transition: all .35s cubic-bezier(.46,.01,.32,1);
  transition: all .35s cubic-bezier(.46,.01,.32,1);
      width: 300px;
    left: -600px;
        overflow: hidden;
    background: white;
    color: #45494b;
    z-index: 10000;
    height: calc(var(--viewport-height) - var(--coupon-bar-height));
    transform: translateX(-600px);
    overflow-y: auto;
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
    transform: translateX(0);
    box-shadow: 0 0 30px #00000040;
    left: 0;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}

.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
}
li.mobile-nav__item {
    margin-top: 30px;
}
li.mobile-nav__item a{
  border-bottom: 0;
}
.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.menu-drawer__menu-item {
  padding: 15px 0;
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 1px solid #5e636540;
  font-size: 16px;
  font-weight: 500;
  color: #45494b;
}
a.menu-drawer__menu-item.list-menu__item.link.friendbuy-link {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .02em;
}
.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.menu-drawer__submenu .list-menu__item{
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.menu-drawer__menu-item > a{
  color: #45494b;
}
.menu-drawer__utility-links {
  padding: 0;
  background-color: rgba(var(--color-foreground), 0.03);
  position: relative;
}

.header--has-social .menu-drawer__utility-links {
  padding: 2rem;
}
.menu-drawer__menu-item-dropdown .icon{
  position: absolute;
  right: 0;
}
.menu-drawer__menu-item-dropdown.show .icon:before{
  content: "\e602";
}
.menu-drawer__menu-item-dropdown{
  position: relative;
}
.menu-drawer__submenu{
  display: none;
}
.ge-free-shipping-container ~ .section-header .menu-drawer{
  top: calc(var(--announcement-bar-height) - 32px);
}
@media screen and (max-width: 768px) {
  .ge-free-shipping-container ~ .section-header .menu-drawer{
    top: calc(var(--announcement-bar-height) - 26px);
  }
}
@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .menu-drawer{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem;
  }
}

.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 2rem;
}

.menu-drawer__utility-links:has(ul:empty) .menu-drawer__account,
.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin-bottom: 0;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}
