.predictive-search {
  display: none !important;
  position: absolute;
  top: calc(100% + 0.1rem);
  left: -0.1rem;
  background-color: #fff;
  z-index: 3;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #272c300d, 0 1px 5px 1px #272c3029;
  width: 576px;
}

.predictive-search--search-template {
  z-index: 2;
  width: calc(100% + 0.2rem);
}

.predictive-search__results-groups-wrapper {
  display: flex;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  padding-bottom: 1rem;
}

@media screen and (max-width: 749px) {
  .predictive-search--header {
    right: 0;
    left: 0;
    top: 100%;
  }

  .predictive-search__results-groups-wrapper {
    flex-direction: column;
  }

  .predictive-search__results-groups-wrapper:not(.predictive-search__results-groups-wrapper--no-suggestions) {
    /* On mobile, when there are no suggestions the first .predictive-search__results-groups-wrapper
     * is virtually empty due to a display: hidden on the predictive-search__pages-wrapper child.
     * This causes the gap to render and look like a big top margin */
    gap: 2rem;
  }
}
.predictive-search__list-item {
  width: 50%;
  float: left;
}
@media screen and (min-width: 750px) {

  .header predictive-search {
    position: relative;
  }
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}

.predictive-search__result-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 2rem;
}

.predictive-search__result-group:first-child .predictive-search__pages-wrapper {
  display: none;
}

@media screen and (min-width: 750px) {
  .predictive-search__results-groups-wrapper--no-products .predictive-search__result-group:nth-child(2),
  .predictive-search__result-group:last-child .predictive-search__pages-wrapper {
    display: none;
  }
  .predictive-search__result-group:first-child .predictive-search__pages-wrapper {
    display: initial;
  }
  .predictive-search__result-group:first-child {
    flex: 0 0 26.4rem;
  }
  .predictive-search__results-groups-wrapper--no-products .predictive-search__result-group:first-child,
  .predictive-search__result-group:only-child {
    flex-grow: 1;
  }
}

.predictive-search__heading {
  margin: 0;
  padding: 20px 24px 0;
  color: #7a7a7a;
  font-size: 12px;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 16px;
}

predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

predictive-search[loading] .predictive-search__search-for-button {
  display: none;
}

predictive-search[loading] .predictive-search__results-groups-wrapper ~ .predictive-search__loading-state {
  display: none;
}

predictive-search[loading] .predictive-search__results-groups-wrapper ~ .predictive-search__search-for-button {
  display: initial;
}

.predictive-search__list-item[aria-selected='true'] > *,
.predictive-search__list-item:hover > *,
.predictive-search__item[aria-selected='true'],
.predictive-search__item:hover {
  color: rgb(var(--color-foreground));
  background-color: #E8E9EB;
  box-shadow: 0 0 0 1px #00000005;
  border-radius: 4px;
}

.predictive-search__item {
  display: flex;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.predictive-search__item--link-with-thumbnail {
  grid-column-gap: 16px;
}
.predictive-search__results-list{
  padding: 0 14px 9px;
}
.predictive-search__item-vendor {
  font-size: 0.9rem;
}

.predictive-search__item-heading {
  margin: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.predictive-search__item-query-result *:not(mark) {
  font-weight: bolder;
}

.predictive-search__item-query-result mark {
  color: rgba(var(--color-foreground), 0.75);
}

.predictive-search__item-query-result mark {
  background-color: transparent;
}

.predictive-search__item .price {
  color: #222;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.predictive-search__item-vendor + .predictive-search__item-heading,
.predictive-search .price {
  margin-top: 0.5rem;
}

.predictive-search__item--term {
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  font-size: 12px;
  color: #222;
  word-break: break-all;
  line-height: 52px;
}

.predictive-search__item--term .icon-arrow {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-left: 10px;
  color: #222;
}

.predictive-search__image {
  grid-area: product-image;
  object-fit: contain;
  border-radius: 4px;
}
