.facets-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    padding-top: 1rem;
}

.active-facets-mobile {
    margin-bottom: 0.5rem;
}

.mobile-facets__list {
    overflow-y: auto;
}

@media screen and (min-width: 750px) {
    .facets-container > * + * {
        margin-top: 0;
    }

    .facets__form .product-count {
        grid-column-start: 3;
        align-self: flex-start;
    }
}

@media screen and (max-width: 989px) {
    .facets-container {
        grid-template-columns: auto minmax(0, max-content);
        column-gap: 2rem;
    }
}

.facet-filters {
    align-items: flex-start;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    padding-left: 2.5rem;
}

@media screen and (min-width: 990px) {
    .facet-filters {
        padding-left: 3rem;
    }
}

.facet-filters__label {
    display: block;
    color: rgba(var(--color-foreground), 0.85);
    font-size: 1.4rem;
    margin: 0 2rem 0 0;
}

.facet-filters__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    cursor: pointer;
    height: 4.5rem;
    padding: 0 1.5rem;
    min-width: 25rem;
    margin-top: 2.4rem;
    border: 0.1rem solid rgba(var(--color-foreground), 0.55);
}

.facet-filters__summary::after {
    position: static;
}

.facet-filters__field {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.facet-filters__field .select {
    width: auto;
}

.facet-filters__field .select:after,
.facet-filters__field .select:before,
.mobile-facets__sort .select:after,
.mobile-facets__sort .select:before {
    content: none;
}

.facet-filters__field .select__select,
.mobile-facets__sort .select__select {
    border-radius: 0;
    min-width: auto;
    min-height: auto;
    transition: none;
}

.facet-filters button {
    margin-left: 2.5rem;
}

.facet-filters__sort {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-size: 1.4rem;
    height: auto;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    margin: 0;
    padding-left: 0;
    padding-right: 1.75rem;
}

.facet-filters__sort + .icon-caret {
    right: 0;
}

@media screen and (forced-colors: active) {
    .facet-filters__sort {
        border: none;
    }
}

.facet-filters__sort,
.facet-filters__sort:hover {
    box-shadow: none;
    filter: none;
    transition: none;
}

.mobile-facets__sort .select__select:focus-visible {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
    outline-offset: 0.3rem;
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
        0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.mobile-facets__sort .select__select.focused,
.no-js .mobile-facets__sort .select__select:focus {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
    outline-offset: 0.3rem;
    box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
        0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.facet-filters__sort:focus-visible {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
    outline-offset: 1rem;
    box-shadow: 0 0 0 1rem rgb(var(--color-background)),
        0 0 0.2rem 1.2rem rgba(var(--color-foreground), 0.3);
}

.facet-filters__sort.focused,
.no-js .facet-filters__sort:focus {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
    outline-offset: 1rem;
    box-shadow: 0 0 0 1rem rgb(var(--color-background)),
        0 0 0.2rem 1.2rem rgba(var(--color-foreground), 0.3);
}

.no-js .facet-filters__sort:focus:not(:focus-visible),
.no-js .mobile-facets__sort .select__select:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.facets {
    display: block;
    grid-column-start: span 2;
}

.facets__form {
    display: grid;
    gap: 0 3.5rem;
    grid-template-columns: 1fr max-content max-content;
    margin-bottom: 0.5rem;
}

.facets__wrapper {
    align-items: center;
    align-self: flex-start;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
}

.facets__heading {
    display: block;
    color: rgba(var(--color-foreground), 0.85);
    font-size: 1.4rem;
    margin: -1.5rem 2rem 0 0;
}

.facets__reset {
    margin-left: auto;
}

.facets__disclosure {
    margin-right: 3.5rem;
}

.facets__summary {
    color: rgba(var(--color-foreground), 0.75);
    font-size: 1.4rem;
    padding: 0 1.75rem 0 0;
    margin-bottom: 1.5rem;
}

.facets__disclosure fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.facets__disclosure[open] .facets__summary,
.facets__summary:hover {
    color: rgb(var(--color-foreground));
}

.facets__disclosure[open] .facets__display,
.facets__disclosure-vertical[open] .facets__display-vertical {
    animation: animateMenuOpen var(--duration-default) ease;
}

.facets__summary span {
    transition: text-decoration var(--duration-short) ease;
}

.facets__summary:hover span {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.disclosure-has-popup[open] > .facets__summary::before {
    z-index: 2;
}

.facets__summary > span {
    line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.facets__summary .icon-caret {
    right: 0;
}

.facets__display {
    border-width: var(--popup-border-width);
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-radius: var(--popup-corner-radius);
    box-shadow: var(--popup-shadow-horizontal-offset)
        var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
        rgba(var(--color-shadow), var(--popup-shadow-opacity));
    background-color: rgb(var(--color-background));
    position: absolute;
    top: calc(100% + 0.5rem);
    left: -1.2rem;
    width: 35rem;
    max-height: 55rem;
    overflow-y: auto;
}

.facets__header {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    background-color: rgb(var(--color-background));
    z-index: 1;
}

.facets__list {
    padding: 0.5rem 2rem;
}

.facets__item {
    display: flex;
    align-items: center;
}

.facets__item label,
.facets__item input[type="checkbox"] {
    cursor: pointer;
}

.facet-checkbox {
    padding: 1rem 2rem 1rem 0;
    flex-grow: 1;
    position: relative;
    font-size: 1.4rem;
    display: flex;
    word-break: break-word;
}

.facet-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 1;
    width: 1.6rem;
    height: 1.6rem;
    top: 0.7rem;
    left: -0.4rem;
    z-index: -1;
    appearance: none;
    -webkit-appearance: none;
}

.no-js .facet-checkbox input[type="checkbox"] {
    z-index: 0;
}

.facet-checkbox > svg {
    background-color: rgb(var(--color-background));
    margin-right: 1.2rem;
    flex-shrink: 0;
}

.facet-checkbox .icon-checkmark {
    visibility: hidden;
    position: absolute;
    left: 0.3rem;
    z-index: 5;
    top: 1.4rem;
}

.facet-checkbox > input[type="checkbox"]:checked ~ .icon-checkmark {
    visibility: visible;
}

@media screen and (forced-colors: active) {
    .facet-checkbox > svg {
        background-color: inherit;
        border: 0.1rem solid rgb(var(--color-background));
    }

    .facet-checkbox > input[type="checkbox"]:checked ~ .icon-checkmark {
        border: none;
    }
}

.facet-checkbox--disabled {
    color: rgba(var(--color-foreground), 0.4);
}

.facets__price {
    display: flex;
    padding: 2rem;
}

.facets__price .field + .field-currency {
    margin-left: 2rem;
}

.facets__price .field {
    align-items: center;
}

.facets__price .field-currency {
    align-self: center;
    margin-right: 0.6rem;
}

.facets__price .field__label {
    left: 1.5rem;
}

button.facets__button {
    min-height: 0;
    margin: 0 0 0 0.5rem;
    box-shadow: none;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.facets__button-no-js {
    transform: translateY(-0.6rem);
}

.active-facets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: -0.5rem;
}

.active-facets__button {
    display: block;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
}

span.active-facets__button-inner {
    color: rgb(var(--color-foreground));
    box-shadow: 0 0 0 0.1rem rgb(var(--color-foreground));
    border-radius: 2.6rem;
    font-size: 1rem;
    min-height: 0;
    min-width: 0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: stretch;
}

span.active-facets__button-inner:before,
span.active-facets__button-inner:after {
    display: none;
}

.active-facets__button-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.active-facets__button-wrapper * {
    font-size: 1rem;
}

@media screen and (min-width: 990px) {
    .active-facets__button {
        margin-right: 1.5rem;
    }

    .active-facets__button-wrapper *,
    span.active-facets__button-inner {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 989px) {
    .active-facets {
        margin: 0 -1.2rem -1.2rem;
    }

    .active-facets__button,
    .active-facets__button-remove {
        margin: 0;
        padding: 1.2rem;
    }

    span.active-facets__button-inner {
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
    }

    .active-facets__button-wrapper {
        padding-top: 0;
        margin-left: 1.2rem;
    }
}

.active-facets__button:hover .active-facets__button-inner {
    box-shadow: 0 0 0 0.2rem rgb(var(--color-foreground));
}

.active-facets__button--light .active-facets__button-inner {
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2);
}

.active-facets__button--light:hover .active-facets__button-inner {
    box-shadow: 0 0 0 0.2rem rgba(var(--color-foreground), 0.4);
}

a.active-facets__button:focus-visible {
    outline: none;
    box-shadow: none;
}

/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
    a.active-facets__button:focus-visible {
        outline: transparent solid 1px;
    }
}
a.active-facets__button.focused,
.no-js a.active-facets__button:focus {
    outline: none;
    box-shadow: none;
}

a.active-facets__button:focus-visible .active-facets__button-inner {
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2),
        0 0 0 0.2rem rgb(var(--color-background)),
        0 0 0 0.4rem rgb(var(--color-foreground));
    outline: none;
}

a.active-facets__button.focused .active-facets__button-inner,
.no-js a.active-facets__button:focus .active-facets__button-inner {
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.2),
        0 0 0 0.2rem rgb(var(--color-background)),
        0 0 0 0.4rem rgb(var(--color-foreground));
    outline: none;
}

.active-facets__button svg {
    align-self: center;
    flex-shrink: 0;
    margin-left: 0.6rem;
    margin-right: -0.2rem;
    pointer-events: none;
    width: 1.2rem;
}

@media all and (min-width: 990px) {
    .active-facets__button svg {
        margin-right: -0.4rem;
        margin-top: 0.1rem;
        width: 1.4rem;
    }
}

.active-facets facet-remove:only-child {
    display: none;
}

.facets-vertical
    .active-facets
    .active-facets-vertical-filter:only-child
    > facet-remove {
    display: none;
}

.facets-vertical .active-facets-vertical-filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.facets-vertical .active-facets-vertical-filter .active-facets__button-wrapper {
    padding-top: 0;
    display: flex;
    align-items: flex-start;
}

.facets-vertical .active-facets__button {
    margin-top: 0;
}

.active-facets__button.disabled,
.mobile-facets__clear.disabled {
    pointer-events: none;
}

.mobile-facets__clear-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.mobile-facets {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(var(--color-foreground), 0.5);
    pointer-events: none;
}

.mobile-facets__disclosure {
    display: flex;
}

.mobile-facets__wrapper {
    margin-left: 0;
    display: flex;
}

.mobile-facets__wrapper .disclosure-has-popup[open] > summary::before {
    height: 100vh;
    z-index: 3;
}

.mobile-facets__inner {
    background-color: rgb(var(--color-background));
    width: calc(100% - 5rem);
    margin-left: auto;
    height: 100%;
    overflow-y: auto;
    pointer-events: all;
    transition: transform var(--duration-default) ease;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
    border-style: solid;
    border-width: 0 0 0 var(--drawer-border-width);
    filter: drop-shadow(
        var(--drawer-shadow-horizontal-offset)
            var(--drawer-shadow-vertical-offset)
            var(--drawer-shadow-blur-radius)
            rgba(var(--color-shadow), var(--drawer-shadow-opacity))
    );
}

.menu-opening .mobile-facets__inner {
    transform: translateX(0);
}

.js .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
    transform: translateX(105vw);
}

.mobile-facets__header {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    padding: 1rem 2.5rem;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
}

.mobile-facets__header-inner {
    flex-grow: 1;
    position: relative;
}

.mobile-facets__info {
    padding: 0 2.6rem;
}

.mobile-facets__heading {
    font-size: calc(var(--font-heading-scale) * 1.4rem);
    margin: 0;
}

.mobile-facets__count {
    color: rgba(var(--color-foreground), 0.7);
    font-size: 1.3rem;
    margin: 0;
    flex-grow: 1;
}

.mobile-facets__open-wrapper {
    display: inline-block;
}

.mobile-facets__open {
    text-align: left;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    color: rgba(var(--color-link), var(--alpha-link));
}

.mobile-facets__open:hover {
    color: rgb(var(--color-link));
}

.mobile-facets__open:hover line,
.mobile-facets__open:hover circle {
    stroke: rgb(var(--color-link));
}

.mobile-facets__open-label {
    transition: text-decoration var(--duration-short) ease;
}

.mobile-facets__open:hover .mobile-facets__open-label {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.mobile-facets__open > * + * {
    margin-left: 1rem;
}

.mobile-facets__open svg {
    width: 2rem;
}

.mobile-facets__open line,
.mobile-facets__open circle {
    stroke: rgba(var(--color-link), var(--alpha-link));
}

.mobile-facets__close {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0.7rem;
    right: 1rem;
    width: 4.4rem;
    height: 4.4rem;
    z-index: 101;
    opacity: 0;
    transition: opacity var(--duration-short) ease;
}

.mobile-facets__close svg {
    width: 2.2rem;
}

details.menu-opening .mobile-facets__close {
    display: flex;
    opacity: 1;
}

details.menu-opening .mobile-facets__close svg {
    margin: 0;
}

.mobile-facets__close-button {
    align-items: center;
    background-color: transparent;
    display: flex;
    font-size: 1.4rem;
    font: inherit;
    letter-spacing: inherit;
    margin-top: 1.5rem;
    padding: 1.2rem 2.6rem;
    text-decoration: none;
    width: calc(100% - 5.2rem);
}

.no-js .mobile-facets__close-button {
    display: none;
}

.mobile-facets__close-button .icon-arrow {
    transform: rotate(180deg);
    margin-right: 1rem;
}

.mobile-facets__main {
    padding: 2.7rem 0 0;
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.mobile-facets__details[open] .icon-caret {
    transform: rotate(180deg);
}

.no-js .mobile-facets__details {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.04);
}

.mobile-facets__highlight {
    opacity: 0;
    visibility: hidden;
}

.mobile-facets__checkbox:checked + .mobile-facets__highlight {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    background-color: rgba(var(--color-foreground), 0.04);
}

.mobile-facets__summary {
    padding: 1.3rem 2.5rem;
}

.mobile-facets__summary svg {
    margin-left: auto;
}

.mobile-facets__summary > div,
.facets__summary > div {
    display: flex;
    align-items: center;
}

.js .mobile-facets__submenu {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translateX(100%);
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.js details[open] > .mobile-facets__submenu {
    transition: transform 0.4s cubic-bezier(0.29, 0.63, 0.44, 1),
        visibility 0.4s cubic-bezier(0.29, 0.63, 0.44, 1);
}

.js details[open].menu-opening > .mobile-facets__submenu {
    transform: translateX(0);
    visibility: visible;
}

.js .menu-drawer__submenu .mobile-facets__submenu {
    overflow-y: auto;
}

.js .mobile-facets .submenu-open {
    visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

.mobile-facets__item {
    position: relative;
}

input.mobile-facets__checkbox {
    border: 0;
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    left: 2.1rem;
    top: 1.2rem;
    z-index: 0;
    appearance: none;
    -webkit-appearance: none;
}

.mobile-facets__label {
    padding: 1.5rem 2rem 1.5rem 2.5rem;
    width: 100%;
    transition: background-color 0.2s ease;
    word-break: break-word;
    display: flex;
}

.mobile-facets__label > svg {
    background-color: rgb(var(--color-background));
    position: relative;
    z-index: 2;
    margin-right: 1.2rem;
    flex-shrink: 0;
}

.mobile-facets__label .icon-checkmark {
    position: absolute;
    top: 1.9rem;
    left: 2.8rem;
    visibility: hidden;
}

.mobile-facets__label > input[type="checkbox"]:checked ~ .icon-checkmark {
    visibility: visible;
}

.mobile-facets__arrow,
.mobile-facets__summary .icon-caret {
    margin-left: auto;
    display: block;
}

.mobile-facets__label--disabled {
    opacity: 0.5;
}

.mobile-facets__footer {
    border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
    padding: 2rem;
    bottom: 0;
    position: sticky;
    display: flex;
    z-index: 2;
    margin-top: auto;
    background-color: rgb(var(--color-background));
    background: var(--gradient-background);
}

.mobile-facets__footer > * + * {
    margin-left: 1rem;
}

.mobile-facets__footer > * {
    width: 50%;
}

.mobile-facets__footer noscript .button {
    width: 100%;
}

.mobile-facets__sort {
    display: flex;
    justify-content: space-between;
}

.mobile-facets__sort label {
    flex-shrink: 0;
}

.mobile-facets__sort .select {
    width: auto;
}

.no-js .mobile-facets__sort .select {
    position: relative;
    right: -1rem;
}

.mobile-facets__sort .select .icon-caret {
    right: 0;
}

.mobile-facets__sort .select__select {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    filter: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
}

.product-count {
    align-self: center;
    position: relative;
    text-align: right;
}

.product-count__text {
    font-size: 1.4rem;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    margin: 0;
}

.product-count__text.loading {
    visibility: hidden;
}

.product-count .loading-overlay__spinner,
.product-count-vertical .loading-overlay__spinner {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
}

.product-count__text.loading + .loading-overlay__spinner {
    display: block;
}

@media screen and (min-width: 750px) {
    .facets-vertical {
        display: flex;
    }

    .facets-wrap-vertical {
        border: none;
        padding-left: 0;
    }

    .facets__form-vertical {
        display: flex;
        flex-direction: column;
        width: 26rem;
    }

    .facets__disclosure-vertical {
        border-top: 0.1rem solid rgba(var(--color-foreground), 0.1);
        margin-right: 0;
    }

    .facets-vertical .facets__summary {
        padding-top: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 1.5rem;
    }

    .facets__heading--vertical {
        margin: 0 0 1.5rem 0;
        font-size: 1.5rem;
    }

    .facets__header-vertical {
        padding: 1.5rem 2rem 1.5rem 0;
        font-size: 1.4rem;
    }

    .facets__display-vertical {
        padding-bottom: 1.5rem;
    }

    .facets-vertical .facets-wrapper {
        padding-right: 3rem;
    }

    .facets-vertical .facets-wrapper--no-filters {
        display: none;
    }

    .no-js .facets-vertical .facets-wrapper--no-filters {
        display: block;
    }

    .facets-vertical .product-grid-container {
        width: 100%;
    }

    .facets-vertical-form {
        display: flex;
        justify-content: flex-end;
    }

    .product-count-vertical {
        margin-left: 3.5rem;
    }

    .facets-vertical .active-facets__button-wrapper {
        margin-bottom: 2rem;
    }

    .facets-vertical .no-js .facets__button-no-js {
        transform: none;
        margin-left: 0;
    }

    .facets-vertical .no-js .facet-filters__field {
        justify-content: flex-start;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }

    .facets-vertical .facets__price {
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    .facets-vertical .facets__price .field:last-of-type {
        margin-left: 1rem;
    }

    .facets-vertical .active-facets__button {
        margin-bottom: 1.5rem;
    }

    .no-js .facets-vertical .facet-filters.sorting {
        padding-left: 0;
        flex-direction: column;
    }

    .facets-vertical .facet-checkbox input[type="checkbox"] {
        z-index: 0;
    }

    .no-js .facets-vertical .facets-container {
        display: flex;
        flex-direction: column;
    }

    .facets-vertical .active-facets facet-remove:last-of-type {
        margin-bottom: 1rem;
    }

    .facets-vertical .active-facets {
        margin: 0;
        align-items: flex-start;
    }

    .facets__disclosure-vertical[open] .facets__summary .icon-caret {
        transform: rotate(180deg);
    }

    .facets-container-drawer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 0;
    }

    .facets-container-drawer .mobile-facets__wrapper {
        margin-right: 2rem;
        flex-grow: 1;
    }

    .facets-container-drawer .product-count {
        margin: 0 0 0.5rem 3.5rem;
    }

    .facets-container-drawer .facets-pill {
        width: 100%;
    }

    .facets-container-drawer .facets__form {
        display: block;
    }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
    .facets-vertical .active-facets__button {
        padding: 1rem;
        margin-bottom: 0;
        margin-left: -0.5rem;
    }

    .facets-vertical .active-facets__button-remove {
        padding: 0 1rem 1rem;
    }
}
/* filters app */
.boost-pfs-filter-option-item {
    
}
.filters {
    text-align: left;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    -webkit-transition: padding-top 0.2s ease-out;
    -moz-transition: padding-top 0.2s ease-out;
    -ms-transition: padding-top 0.2s ease-out;
    -o-transition: padding-top 0.2s ease-out;
    transition: padding-top 0.2s ease-out;
    background-color: #fff;
}
@media screen and (min-width: 769px) {
    .filters {
        padding-top: 45px;
    }
}
.is-sticky .filters,
.filters.is_stuck,
.filters.stuck {
    background: white;
    padding: 45px calc(2% + 1px) 0;
    width: 100% !important;
    left: 0;
}
@media screen and (max-width: 768px) {
    .is-sticky .filters,
    .filters.is_stuck,
    .filters.stuck {
        padding-top: 28px;
    }
}
.filters .boost-pfs-filter-tree-h {
    padding: 50px 0 10px;
    margin: 0 3.5%;
    border-bottom: 1px solid #6e6e77;
}
.filters .boost-pfs-filter-tree .boost-pfs-filter-option-title-heading {
    border: none;
    padding: 0 25px 0 0;
    font-size: 16px;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option-title-heading.selected
    div {
    display: none;
}
.filters .boost-pfs-filter-tree .boost-pfs-filter-option-title-heading:before {
    width: 8px;
    height: 8px;
}
.filters .boost-pfs-filter-tree .boost-pfs-filter-option-title-heading:focus,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option-title-heading:focus-within {
    outline: none;
}
@media screen and (max-width: 590px) {
    .filters .boost-pfs-filter-tree .boost-pfs-filter-option-title-heading {
        font-size: 14px;
        padding: 4px 0px 10px !important;
    }
}
.filters .boost-pfs-filter-tree .boost-pfs-filter-option {
    position: static !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    padding-left: 0;
    margin-top: 0;
    border-radius: 0;
    width: 100% !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .bc-sf-filter-option-amount {
    display: none;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .bc-sf-filter-option-value {
    padding: 0;
    text-align: center;
    color: #5e6365;
    white-space: nowrap;
    font-size: 12px;
}
@media screen and (max-width: 590px) {
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .bc-sf-filter-option-value {
        font-size: 11px;
        letter-spacing: -0.025em;
    }
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-button:hover,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-button:active {
    border: 1px solid #45494b;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-apply-button {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1em;
    font-style: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: white;
    color: black;
    margin: 20px 0px 10px 1px;
    padding: 8px 16px;
    border-radius: 0;
    border: 1px solid black;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-apply-button:focus {
    outline: none !important;
}
@media screen and (max-width: 768px) {
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .boost-pfs-filter-apply-button {
        display: none;
        width: 100%;
    }
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    button {
    border: 1px solid;
    padding: 0 2px 0 5px;
    display: block;
    font-size: 13px;
    min-width: 28px;
    line-height: 2;
    text-align: center;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    button
    .boost-pfs-check-box {
    display: none;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    button.boost-pfs-filter-button:not(.boost-pfs-filter-apply-button) {
    border-color: #6e6e77;
    color: #5e6365;
}
@media screen and (max-width: 768px) {
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        button.boost-pfs-filter-button:not(.boost-pfs-filter-apply-button) {
        padding: 2px 10px;
    }
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    button.selected {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-content-inner {
    margin: 0;
    padding-left: 0;
}
@media screen and (max-width: 768px) {
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-content-inner {
        padding-left: 0px;
        padding-right: 0px;
    }
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-content-inner
        ul {
        padding-right: 0;
    }
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    ul {
    text-align: left;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    ul
    li
    input[type="checkbox"]
    + a {
    padding-left: 0;
    text-align: center;
    border: 1px solid #6e6e77;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    ul
    li
    input[type="checkbox"]
    + a
    > span:first-child {
    display: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    top: 0px;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    ul
    li
    input[type="checkbox"]
    + a.selected {
    background-color: #e8edf5;
    border: 1px solid #45494b;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    ul
    li
    input[type="checkbox"]
    + a.selected
    > span:first-child {
    display: none;
    box-shadow: none;
    color: #45494b;
    left: 0;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    ul
    li
    input[type="checkbox"]
    + a.selected
    > span:first-child:after {
    display: none;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li {
    display: block;
    width: 40px;
    text-align: center;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    button,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    button {
    border: none;
    padding: 0;
    font-size: 12px;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    button:hover,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    button:hover {
    border: none;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    button
    .boost-pfs-filter-option-amount,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    button
    .boost-pfs-filter-option-amount {
    display: none;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    .boost-pfs-filter-option-swatch-image,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    .boost-pfs-filter-option-swatch-image {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: inset 0 0 1px 2px white;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    .boost-pfs-filter-option-swatch-image:before,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    .boost-pfs-filter-option-swatch-image:before {
    border-color: transparent !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    .boost-pfs-filter-option-swatch-image[title="Peach"],
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    .boost-pfs-filter-option-swatch-image[title="Peach"] {
    background-color: #e6dfd1;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    .boost-pfs-filter-option-swatch-image[title="Moon"],
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    .boost-pfs-filter-option-swatch-image[title="Moon"] {
    background-color: #efebe8;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    .boost-pfs-filter-option-swatch-image[title="Grey"],
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    .boost-pfs-filter-option-swatch-image[title="Grey"] {
    background-color: #cacacd !important;
    background-image: none !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li
    .boost-pfs-filter-option-swatch-image[title="Off White"],
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li
    .boost-pfs-filter-option-swatch-image[title="Off White"] {
    background-color: #f4eae2;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li:hover
    .boost-pfs-filter-option-swatch-image,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li:hover
    .boost-pfs-filter-option-swatch-image {
    border: 2px solid rgba(0, 0, 0, 0.25) !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li.selected
    .boost-pfs-filter-option-swatch-image,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li.selected
    .boost-pfs-filter-option-swatch-image {
    border: 2px solid black !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    li.selected
    .boost-pfs-filter-option-value,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    li.selected
    .boost-pfs-filter-option-value {
    color: black !important;
    font-weight: 500 !important;
}
@media only screen and (max-width: 768px) {
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-item-list-swatch.circle-list
        li,
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-item-list-swatch.circle-grid
        li {
        width: 17%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        background-color: transparent !important;
    }
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-item-list-swatch.circle-list
        li
        .boost-pfs-filter-option-swatch-image,
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-item-list-swatch.circle-grid
        li
        .boost-pfs-filter-option-swatch-image {
        width: 40px;
        height: 40px;
    }
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    button,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-list
    .boost-pfs-filter-option-value,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    button,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list-swatch.circle-grid
    .boost-pfs-filter-option-value {
    display: block;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-item-list:not(.circle-grid)
    li {
    width: auto !important;
    min-width: 20px !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content#bc-sf-filter-block-content-material
    .boost-pfs-filter-option-item-list
    li,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content#bc-sf-filter-block-content-style
    .boost-pfs-filter-option-item-list
    li {
    min-width: 90px !important;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content
    .boost-pfs-filter-clear {
    font-size: 12px;
    display: block;
    margin: 0;
    text-transform: none;
    border: none !important;
}
@media screen and (min-width: 769px) {
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option
        .boost-pfs-filter-option-content {
        border-bottom: 1px solid #6e6e77;
    }
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content:not(#boost-pfs-filter-tree-pf-opt-color)
    .selected,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content:not(#boost-pfs-filter-tree-pf-opt-color)
    .boost-pfs-filter-button:active {
    background-color: #45494b;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content:not(#boost-pfs-filter-tree-pf-opt-color)
    .selected
    button,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content:not(#boost-pfs-filter-tree-pf-opt-color)
    .boost-pfs-filter-button:active
    button {
    border-color: black;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content:not(#boost-pfs-filter-tree-pf-opt-color)
    .selected
    .boost-pfs-filter-option-value,
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option
    .boost-pfs-filter-option-content:not(#boost-pfs-filter-tree-pf-opt-color)
    .boost-pfs-filter-button:active
    .boost-pfs-filter-option-value {
    color: white;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-content-inner {
    max-height: 335px;
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar
    .boost-pfs-filter-option-content
    .boost-pfs-filter-option-content-inner
    ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px 8px;
}
@media screen and (max-width: 768px) {
    .filters
        .boost-pfs-filter-tree
        .boost-pfs-filter-option.boost-pfs-filter-has-scrollbar
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-content-inner
        ul {
        gap: 0px 8px;
    }
}
.filters
    .boost-pfs-filter-tree
    .boost-pfs-filter-option:not(.boost-pfs-filter-option-collapsed)
    .boost-pfs-filter-option-title:before {
    display: none;
}
.filters .filter-header {
    display: block;
    clear: both;
    width: 100%;
    margin: 12px auto 0px;
    text-align: left;
    font-size: 13px;
    color: #45494b;
}
.filters .filter-header:first-child {
    margin-top: 0;
}
.filters .filter-header.nonwire {
    margin-top: 10px;
}
.filters .filter-header#cup {
    opacity: 0;
    margin: 0;
    clear: both;
    font-size: 0.1px;
}
#nosize .filters .filter-header#size,
#underwear .filters .filter-header#size,
#nonwire .filters .filter-header#size,
#underwire-bras .filters .filter-header#band,
#mixed.tag-bottoms .filters .filter-header#size,
#mixed.tag-robes .filters .filter-header#size,
#thongs-thong .filters .filter-header#size,
#supreme .filters .filter-header#size,
#cotton .filters .filter-header#size,
#bottoms .filters .filter-header#size,
#camis-slips .filters .filter-header#size,
#whipped-long-sleeve .filters .filter-header#size,
#boyshorts .filters .filter-header#size,
#supreme-sleep .filters .filter-header#size,
#supreme-sleep-bottoms .filters .filter-header#size,
#supreme-sleep-tops .filters .filter-header#size,
#supreme-robes .filters .filter-header#size,
#club-sweats .filters .filter-header#size,
#glace .filters .filter-header#size,
#tees .filters .filter-header#size,
#navy .filters .filter-header#size {
    display: none;
}
.filters #size + #everything-else {
    display: none;
}
.filters .boost-pfs-filter-tree-v .boost-pfs-filter-clear,
.filters .boost-pfs-filter-tree-v .boost-pfs-filter-clear-all {
    display: inline-block;
    text-transform: none;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-weight: normal;
    font-size: 14px;
    color: #5e6365;
}
.filters .boost-pfs-filter-tree-v .boost-pfs-filter-clear:hover,
.filters .boost-pfs-filter-tree-v .boost-pfs-filter-clear-all:hover {
    color: #45494b;
}
.filters .bc-sf-filter-selection-wrapper > span {
    display: none;
}
@media screen and (min-width: 769px) {
    .filters .bc-sf-filter-selection-wrapper {
        margin-top: 0;
    }
}
.filters .selected-item {
    margin-right: 8px !important;
}
.filters .filter-desktop-toolbar {
    display: table;
    width: 93%;
    margin: 0 3.5%;
    position: relative;
}
.filters .filter-desktop-toolbar .boost-pfs-filter-tree-h {
    border: none;
}
.filters
    .filter-desktop-toolbar
    > div:not(.boost-pfs-filter-tree-mobile-button) {
    display: table-cell;
    margin: 0;
    padding: 0;
}
.filters
    .filter-desktop-toolbar
    > div:not(.boost-pfs-filter-tree-mobile-button).boost-pfs-filter-tree {
    width: 100%;
    float: left;
}
.filters
    .filter-desktop-toolbar
    > div:not(
        .boost-pfs-filter-tree-mobile-button
    ).boost-pfs-filter-top-sorting {
    text-align: right;
}
.filters
    .filter-desktop-toolbar
    > div:not(.boost-pfs-filter-tree-mobile-button).boost-pfs-filter-top-sorting
    label {
    display: none;
}
.filters
    .filter-desktop-toolbar
    > div:not(.boost-pfs-filter-tree-mobile-button).boost-pfs-filter-top-sorting
    select {
    font-size: 16px;
    background-color: transparent;
    background-image: url("//cdn.shopify.com/s/files/1/0221/4866/t/119/assets/ico-select-hollow.svg?v=142309890134790569771688398951");
    background-position: right center;
    padding-right: 25px;
    text-align: right;
}
.filters
    .filter-desktop-toolbar
    > div:not(.boost-pfs-filter-tree-mobile-button).boost-pfs-filter-top-sorting
    select:hover {
    outline: none;
}
@media screen and (min-width: 769px) {
    .filters
        .filter-desktop-toolbar
        > div:not(
            .boost-pfs-filter-tree-mobile-button
        ).boost-pfs-filter-top-sorting {
        position: absolute;
        right: 0;
        width: 40%;
    }
}
@media screen and (max-width: 768px) {
    .filters .filter-desktop-toolbar {
        align-items: center;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 769px) {
    .filters .filter-desktop-toolbar {
        border-bottom: 1px solid black;
    }
}
.filters .filter-header + .filter-header {
    display: none !important;
}
.filters .bc-sf-filter-selection-wrapper .bc-sf-filter-selected-items {
    text-align: center;
    display: inline-block;
    float: none;
}
.filters
    .bc-sf-filter-selection-wrapper
    .bc-sf-filter-selected-items
    .selected-item {
    display: inline-block;
    background: #e8edf5;
    border: 1px solid #45494b;
    color: #45494b;
    float: none;
    line-height: 20px;
    margin-bottom: 0;
    padding: 0 6px 3px;
}
.filters
    .bc-sf-filter-selection-wrapper
    .bc-sf-filter-selected-items
    .selected-item
    .selected-type {
    font-size: 14px;
}
.filters
    .bc-sf-filter-selection-wrapper
    .bc-sf-filter-selected-items
    .selected-item
    .bc-sf-filter-clear:before,
.filters
    .bc-sf-filter-selection-wrapper
    .bc-sf-filter-selected-items
    .selected-item
    .bc-sf-filter-clear:after {
    background: #45494b;
}
.filters
    .boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-swatch
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image {
    border: 1px solid #cbcbcb !important;
}
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Slate"] {
    background-color: #7987a0 !important;
}
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Black"] {
    background-color: #222222 !important;
}
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Buff"] {
    background-color: #cc9778 !important;
}
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Navy"] {
    background-color: #140d38 !important;
}
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Lilac"] {
    background-color: #ddd0d9 !important;
}
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Blue"] {
    background-color: #2e3f6b !important;
}
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Ice Blue"],
.filters
    .boost-pfs-filter-option-item
    span.boost-pfs-filter-option-swatch-image[title="Ice%20Blue"] {
    background-color: #e7eff1 !important;
}
.filters
    .bc-sf-filter-option-block
    .bc-sf-filter-block-content
    .bc-sf-filter-option-swatch
    li {
    text-align: center;
}
.filters
    .bc-sf-filter-option-block
    .bc-sf-filter-block-content
    .bc-sf-filter-option-swatch
    li
    .bc-sf-filter-option-amount {
    margin: 0;
}
.filters
    .bc-sf-filter-option-block
    .bc-sf-filter-block-content
    .bc-sf-filter-option-swatch
    li
    a
    .boost-pfs-filter-option-swatch-image {
    display: block;
    margin: 0 auto 3px;
}
@media screen and (min-width: 769px) {
    .filters .boost-pfs-filter-refine-by-wrapper-h:empty {
        margin-top: 0;
    }
}
@media screen and (max-width: 768px) {
    .filters .boost-pfs-filter-tree-v .boost-pfs-filter-show-result {
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1em;
        font-style: normal;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: white;
        color: black;
        padding: 16px;
        border-radius: 0;
        border: 1px solid black;
        margin: 10px;
        width: calc(100% - 20px);
    }
    .filters .boost-pfs-filter-option-item-list {
        margin: 0;
    }
    .filters .boost-pfs-filter-option-item-list .boost-pfs-filter-option-item {
        display: inline-block;
    }
    .filters .boost-pfs-filter-tree-mobile-button button {
        text-transform: none;
        background: white;
        border: 1px solid black;
        color: black;
        font-size: 16px;
        line-height: 1.563;
        
        font-weight: 300;
    }
    .filters
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-item-list
        .boost-pfs-filter-option-item
        button,
    .filters
        .boost-pfs-filter-option-content
        .boost-pfs-filter-option-item-list
        .boost-pfs-filter-option-item
        .boost-pfs-filter-button,
    .filters .boost-pfs-filter-option-range-amount input,
    .filters
        .boost-pfs-filter-tree-v
        .boost-pfs-filter-refine-by
        .boost-pfs-filter-refine-by-items
        .refine-by-item,
    .filters
        .boost-pfs-filter-refine-by-wrapper-v
        .boost-pfs-filter-refine-by
        .boost-pfs-filter-refine-by-items
        .refine-by-item,
    .filters .boost-pfs-filter-refine-by .boost-pfs-filter-option-title,
    .filters
        .boost-pfs-filter-refine-by
        .boost-pfs-filter-refine-by-items
        .refine-by-item
        > a {
        font-size: 14px;
    }
    .filters
        ul.boost-pfs-filter-option-item-list.boost-pfs-filter-option-item-list-multiple-list
        li {
        padding: 0;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-header,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-header {
        font-family: "nimbus-sans", sans-serif;
        font-weight: 300;
        text-transform: none;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-bottom,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-bottom {
        left: 15px;
        right: auto;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-items
        .boost-pfs-filter-mobile-toolbar-right,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-items
        .boost-pfs-filter-mobile-toolbar-right {
        left: 15px;
        right: auto;
        position: absolute;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-items
        .boost-pfs-filter-mobile-toolbar-right
        button,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-items
        .boost-pfs-filter-mobile-toolbar-right
        button {
        text-align: left;
        float: none;
        text-transform: none;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-top
        .boost-pfs-filter-close
        span,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-top
        .boost-pfs-filter-close
        span {
        position: fixed;
        right: 0;
        background: transparent;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-top
        .boost-pfs-filter-close
        span:before,
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-top
        .boost-pfs-filter-close
        span:after,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-top
        .boost-pfs-filter-close
        span:before,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-top
        .boost-pfs-filter-close
        span:after {
        background-color: black;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3.boost-pfs-filter-tree-v
        .boost-pfs-filter-option
        .boost-pfs-filter-option-title
        .boost-pfs-filter-option-title-heading,
    .filters
        .boost-pfs-filter-tree-mobile-style2.boost-pfs-filter-tree-v
        .boost-pfs-filter-option
        .boost-pfs-filter-option-title
        .boost-pfs-filter-option-title-heading {
        font-family: "nimbus-sans", sans-serif;
        font-weight: 500;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style3
        .boost-pfs-filter-number-result,
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-number-result {
        display: none !important;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-items
        .boost-pfs-filter-mobile-toolbar-right {
        left: 30px;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-items
        .boost-pfs-filter-mobile-toolbar-left {
        width: auto;
        left: 10px !important;
        position: absolute;
    }
    .filters
        .boost-pfs-filter-tree-mobile-style2
        .boost-pfs-filter-mobile-toolbar
        .boost-pfs-filter-mobile-toolbar-items
        .boost-pfs-filter-mobile-toolbar-middle {
        font-family: "nimbus-sans", sans-serif;
        font-weight: 300;
        text-transform: none;
        width: 100%;
        font-size: 22px;
    }
}

.shopify-section-filters-sticky {
    position: fixed;
    top: var(--header-height);
    z-index: 90;
    width: 96%;
    padding-top: 10px;
}
